@import "bootstrap";

body {
  background-color: antiquewhite;
  word-break: break-all;
}

a { text-decoration: none; }

html {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}